body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.header-section {
    display: flex;
    width: 100%;
}

.half-wide {
    width: 50%;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 4%;
}

.title {
    font-size: 50px;
    margin-top: 20%;
}

.title span {
    color: #5200f7;
}

.half-wide p {
    font-size: 20px;
    font-weight: 400;
}

.half-wide a {
    text-decoration: none;
    font-size: 17px;
    background: linear-gradient( 47deg, #7e00ea, #5200f7);
    padding: 13px 34px;
    color: #ffff;
    border-radius: 20px;
    display: inline-block;
    margin-top: 3%;
    font-weight: 800;
}

.header-img {
    height: 100%;
    width: 100%;
    margin-top: 5%;
}

.aboutme {
    background: url(https://raw.githubusercontent.com/hasanulsakir/food-mini/main/assets/img/bg.png);
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 10%;
    background-size: cover;
    background-position: top;
    display: flex;
    height: 50%;
}

.aboutme .half-wide {
    width: 50%;
    padding-left: 10%;
    padding-right: 14%;
    margin-top: 5%;
}

.aboutme .half-wide h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(83, 83, 83);
}

.section-img {
    width: 63%;
    /* display: flex; */
    margin-left: 46%;
}

.footer {
    background: #000;
    text-align: center;
    padding: 0%;
    margin: 0%;
    color: #a29e9e;
}

.footer p {
    font-size: 15px;
    margin-top: 1%;
    margin-bottom: 0%;
    padding-bottom: 4%;
    text-transform: capitalize;
}

.footer .title {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 4%;
    font-size: 40px;
    text-transform: uppercase;
}